<% include head.ejs %>
	<div class="container">
		<div id="broad"></div>
		<div id="edit" class="form">
			<div class="form-group">
				<input type="text" class="form-control">
			</div>
			<div class="text-center">
				<button id="send" class="btn btn-info">发送</button>	
			</div>
		</div>
	</div>
	<script src="js/socket.js"></script>
<% include foot.ejs %>