<% include head.ejs %>
	<div class="container">
		<div id="broad" class="col-sm-8"></div>
		<div id="edit" class="form col-sm-4">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control">
					<span class="input-group-btn">
						<button id="send" class="btn btn-info">发送</button>	
					</span>
				</div>
			</div>
		</div>
	</div>
	<script src="js/socket.js"></script>
<% include foot.ejs %>