<% include head.ejs %>
	<div class="container">
		<div class="text-center">
			<br>
			<h3>欢迎来到项目组讨论</h3>
			<h4>你可以</h4>
			<br>
			<br>
			<a href="/regist" class="btn btn-danger btn-xs">注册</a> 或者 <a href="/login" class="btn btn-info btn-xs">登录</a>
		</div>
	</div>
<% include foot.ejs %>