body , div {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti;
}
header , footer {
	text-align: center;
	background: #444;
	color: #ccc;
	overflow: hidden;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
#broad {
	width: 80%;
	height: 400px;
	overflow-y:auto;
	background: #f3f3f3;
	float: left;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius:5px;
}
#broad>h2 {
	display: inline-block;
	margin-right: 20px;

}
#broad span.username ,
#broad span.txt {
	display: inline-block;
}
#broad span.username {
	/*width: 60px;*/
	/*height: 60px;*/
	/*line-height: 60px;*/
	text-align: center;
}
#broad span.txt {
	/*width: 400px;*/
	height: auto;
	/*padding: 20px;*/
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: underline;
}

#edit {
	width: 20%;
	height: 400px;
	float: left;
	padding: 20px;
	padding-top: 50px;
}
.clearfix{
	overflow: hidden;
}
.clearfix:after{
	clear: both;
}
.wrapper{
	max-width: 300px;
	margin: 0 auto;
	padding: 10px;
}
.prom{
	line-height: 34px;
}